<h3>The premise - long term</h3>
<p>
  WEBPIT is an ongoing project exploring independent networks as performative spaces. 
  For FabLab, I want to dive into the world of DYI power generators and create a self-suffient, portable wireless local network. 
  In particular, I want to use a bonfire as an energy source, converting heat into electric energy and powering a microcontroller with a Wifi module, which would host both the network and the server.   
</p>
<p>
  The server is intended to be a space for making simple generative poetry together.
  I achieved this previously using p5.js for touch-based interaction, Node.js, and Websockets in a <a href="https://vytautasbikauskas.com/WEBPIT" target=”_blank”>previous iteration of the WEBPIT</a>.
  For this iteration I am looking into optimising and minimising the processing requirements needed for an interactive server. 
</p>
<p>
The entire setup is intended as performative artwork, where a communal space is established via the making of the bonfire and its energy is used for the further extension of that space via the local network and the server.
</p>
</section>

<section>

<h3>Anatomy of the WEBPIT</h3>
<h4>The steam engine</h4>
<ul>
  <li>The steam vessel</li>
  <li>The pressure pipe</li>
  <li>The turbine</li>
  <li>The generator</li>
</ul>
<h4>The transition</h4>
<ul>
  <li>The transformer</li>
  <li>The battery</li>
  <li>The uninterruptable power supply</li>
</ul>
<h4>The network</h4>
<ul>
  <li>The microcontroller</li>
  <li>The antenna</li>
</ul>
<p></p>
</section>


<section>
    <h3>Energy</h3>
    <p>
    I am considering two possible types of energy conversion:
    </p>
    <ul>
      <li><b>thermal-electric</b> (using something like Peltier modules)</li>
      <li><b>thermal-mechanical-electric</b> (a steam turbine and an electromagnetic inductor)</li>
    </ul>
  </section> 

  <section>
    <h4>Peltier modules</h4>
    <p>
    Having done a little bit of testing and some reading on Peltier modules, it seems the modules can hardly generate enough voltage or current to charge up a battery (step up transformer could be used, but that won’t change the current issue). 
    Some trickle charging could be set up, as well the use of many Peltier modules together, but the more fundamental issue has to do with the nature of the module.
    </p>
    <p>
    A Peltier module works through temperature difference. 
    Two different di-electric materials are in the module, behaving the opposite ways in relation to the temperature difference across the two sides of the module. 
    This establishes a potential difference between the two sides. 
    The main issue is maintaining that temperature difference - while the bonfire can successfully heat the module, a cooling system is needed for the other side. 
    From my reading, almost 95% of the heat does transfer from one side to the other. 
    Meaning that only an additional cooling system can guarantee a significant enough temperature difference between the sides. 
    While I would love to include a performative element into the energy generator, for example having to add snow to cool one side of the module, this hardly sounds achievable/sustainable. 
    </p>
      <img src="img\test_dither.jpg" class="usual">
  </section>
  
  <section>
    <h3>Making the 3D model - step by step</h3>
    
    <h4>Thinking of the stand</h4>
    <p>A lot of thought will have to go into the stand. Originally I was interested in modularity</p>

    <img class="usual" src="img\Final\3D1\tripod.jpg">
    <div class="rowe">
      <img class="usual" src="img\Final\3D1\ (1).png">
      <img class="usual" src="img\Final\3D1\ (2).png">
    </div>
    <img class="usual" src="img\Final\3D1\ (3).png">
    

  </section>


  <section>
    <h3>Design principles - permacomputing</h3>
    <p><a href="https://permacomputing.net/">Link to the permacomputing website, from which I've taken the screenshots</a></p>
    <img class="usual" src="img\Final\Principles\ (1).jpg">
    <p>This is hard to argue, since I am burning wood to generate energym, as opposed to wind or hydro power. Reason? "'ArT'". But a bonfire is simultaneously one of humanity's earliest methods of place-making, an original of the social sphere. And there is no idea within my project of needing to build a bonfire <em>for</em> the server. A server can exist <em>if</em> the bonfire is lit, it has already gathered people. Similarly, I do not want the work to artificially augment the social space. I want it to be a partial, emergent property. In other words:</p>
    <ul>
      <li><b>I want people to warm up by the bonfire, cook food, talk, spend time, <em>and</em> engage with the server, when it opens up.</b></li>
      <li><b>I do not want people to do all that <em>in order to</em> use the server.</b></li>
    </ul>
    <img class="usual" src="img\Final\Principles\ (2).jpg">
    <ul>
      <li>I will do my best to use all components that I find around - things I can already make use of, repair, bunch together to make what is needed.</li>
      <li>Any power transfer tools can be salvaged, repurposed, adjusted, or made.</li>
      <li>I will try to make setup as easy to disassemble, reuse and repurpose as possible. For this reason I wanted to make the stand to have a universal tripod screw (still might do), wanted to make the setup easy to transport. Sleekness, polish is not the goal.</li>
    </ul>
    <img class="usual" src="img\Final\Principles\ (3).jpg">
    <p>It will be hard to navigate my way around with as few dependencies as possible, especially when it concerns network programming. I am looking for interactivity on the server, and that is not so easy to accomplish without dependencies. I will try to go as low, manual as possible, but this should not kill understandability. Libraries simplify, but they also exclude. ANNOTATION IS IMPORTANT! By making as many elements as I can myself (without my own generator, but that might be waiting for me in the future), including voltage controllers, power-capture circuits, I will try to accumulate practical wisdom on making. Both the interaction and the generator will be kept as simple as possible. Additionally, I want it as transparent as possible - this is not an easy task to achieve, since I like theatricality and mystique.</p>
    <img class="usual" src="img\Final\Principles\ (4).jpg">
    <img class="usual" src="img\Final\Principles\ (5).jpg">
    <img class="usual" src="img\Final\Principles\ (6).jpg">
    <img class="usual" src="img\Final\Principles\ (7).jpg">
    <img class="usual" src="img\Final\Principles\ (8).jpg">
    <img class="usual" src="img\Final\Principles\ (9).jpg">
  </section>