<nav class="sidenav">
  <a href="index.html">About</a>
  <a href="finalproject.html">Final project</a><br>
  <a href="">Week 2</a>
  <a href="week1.html">Week 3</a>
  <a href="week2.html">Week 4</a>
  <a href="week3.html">Week 5</a>
  <a href="week4.html">Week 6</a>
  <a href="week5.html">Week 7</a>
  <a href="week6.html">Week 8</a>
  <a href="week7.html">Week 9</a>
  <a href="week8.html">Week 10</a>
  <a href="week9.html">Week 11</a>
  <a href="week10.html">Week 12</a>
  <a href="week11.html">Week 13</a>
  <a href="week12.1.html">Week 14</a>
  <a href="week13.html">Week 15</a>
  <a href="week14.html">Week 16</a>
  <a href="week15.html">Week 17</a>
  <a href="week16.html">Week 18</a>
  <a href="" class="foot">Contacts</a>
</nav>